<section class="home-highlights">

  <div class="home-highlights__header" scrollReveal>
    <h2 class="home-highlights__title">{{ 'home.highlights.title' | translate }}</h2>
  </div>

  @for (highlight of highlights; track highlight.image; let i = $index) {
    @if (highlight.segments.length) {
      <article
        [class]="'home-highlights__item home-highlights__item--' + highlight.size + (i % 2 !== 0 ? ' home-highlights__item--reverse' : '')"
      >
        <div
          class="home-highlights__image-wrap"
          scrollReveal
          [revealFrom]="i % 2 === 0 ? 'wipe-right' : 'wipe-left'"
        >
          <img
            class="home-highlights__image"
            [src]="highlight.image"
            [alt]="highlight.alt"
            loading="lazy"
          />
        </div>

        <div
          class="home-highlights__content"
          scrollReveal
          revealFrom="bottom"
          [delay]="200"
        >
          <p class="home-highlights__quote">
            @for (seg of highlight.segments; track $index) {
              @if (seg.em) {
                <em class="home-highlights__em">{{ seg.text }}</em>
              } @else {
                {{ seg.text }}
              }
            }
          </p>
        </div>
      </article>
    }
  }

</section>
