<section class="home-map">
  <div class="home-map__inner">
    <div class="home-map__info" scrollReveal>
      <p class="home-map__label">Cómo llegar</p>
      <h2 class="home-map__title">Aielo de Rugat,<br />Valencia</h2>
      <address class="home-map__address">
        Aielo de Rugat, Vall d'Albaida<br />
        Valencia, España
      </address>
    </div>
    <div class="home-map__embed" scrollReveal [revealFrom]="'right'" [delay]="100">
      <iframe
        class="home-map__iframe"
        title="Ubicación de Casa Caldereta en Aielo de Rugat, Valencia"
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1563.5!2d-0.3441232!3d38.8813665!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd6193312f2adc6d%3A0x1ec480cd5096f0e3!2sCasa+Rural+Casa+Caldereta!5e0!3m2!1ses!2ses!4v1750000000000!5m2!1ses!2ses"
        allowfullscreen
        aria-label="Mapa de Google Maps mostrando Aielo de Rugat, Valencia"
      ></iframe>
    </div>
  </div>
</section>
